body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #404040;
  padding: 1rem;
}
header a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.navitems a {
  font-weight: 400;
}

.site-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  padding: 1rem;
}

.container {
  width: 1450px;
  max-width: 90vw;
  margin: auto;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.image {
  height: 280px;
  overflow: hidden;
}
.product {
  margin: 1rem;
  box-shadow: 0 1px 5px -1px hsla(0, 0%, 0%, 0.534);
  border-radius: 3px;
}
.product img {
  width: 100%;
  max-width: 250px;
}
.product-info {
  padding: 1rem;
  padding-top: 0;
}
footer {
  text-align: center;
}
.price {
  font-weight: 500;
}
.product-info button {
  padding: 0.6rem 0.7rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: hsl(240, 97%, 23%);
  color: white;
  border-radius: 5px;
}
.product-info button:hover {
  opacity: 0.9;
}
.rating {
  display: flex;
  align-items: center;
}
.rating span {
  color: rgb(214, 141, 5);
}
.review-star {
  font-size: 1.3rem;
}
.rating span p {
  height: 1.7rem;
}
.underline {
  border-bottom: 1px solid hsla(0, 0%, 75%, 0.664);
  padding-bottom: 0.7rem;
}
.moreinfo {
  display: flex;
  justify-content: space-between;
}
.description p {
  margin: 3px 0;
}

.information-action {
  display: flex;
  vertical-align: top;
  flex-wrap: wrap;
  width: 50%;
  gap: 10%;
  justify-content: space-around;
}
.moreinfo-image img {
  width: 500px;
  max-width: 100vw;
}
.action {
  width: 200px;
  padding: 1rem;
  height: max-content;
  margin-top: 1rem;
  box-shadow: 0 0 5px -1px hsla(0, 0%, 47%, 0.884);
  border-radius: 6px;
}
.action div {
  display: flex;
  gap: 4rem;
  margin-bottom: 1rem;
}
.in-stock,
.unavailable {
  transform: translateX(-8px);
  color: white;
  border-radius: 5px;
  font-size: 14px;
  padding: 0.1rem 0.3rem;
}
.in-stock {
  background-color: hsl(120, 97%, 15%);
}
.unavailable {
  background-color: hsl(0, 96%, 19%);
}
.action button {
  border: none;
  outline: none;
  background-color: hsl(240, 97%, 23%);
  width: 100%;
  color: white;
  padding: 0.6rem 0;
  cursor: pointer;
  border-radius: 5px;
}
.action button:hover {
  opacity: 0.9;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%);
}

.error {
  background-color: hsl(0, 98%, 22%);
  width: 50%;
  min-height: 100px;
  margin: auto;
  color: white;
  display: grid;
  place-content: center;
  border-radius: 7px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.navitems {
  display: flex;

  gap: 0.7rem;
}
.navitems-toggle div,
.navitems div {
  color: hsl(0, 3%, 83%);
  cursor: pointer;
}
.navitems-toggle div:hover,
.navitems div:hover {
  color: hsl(0, 3%, 95%);
}
.cart-icon span {
  background-color: hsl(0, 97%, 34%);
  padding: 0 0.4rem;
  border-radius: 50%;
  font-size: 13px;
  color: white;
}
.cart {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cart-items {
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 7px;
  overflow: hidden;
  border-bottom: none;
  height: max-content;
}
.cart-empty {
  background-color: hsl(182, 97%, 36%);
  max-width: 90vw;
  padding: 1rem;
  border-radius: 7px;
}
.outstock-button {
  background-color: #ccc !important;
  color: black !important;
}
.plus,
.minus {
  display: grid;
  cursor: pointer;
}
.icon {
  padding: 0.3rem;
  border-radius: 30%;
  margin: 0.3rem;
  background-color: rgb(221, 221, 221);
}
.disabled {
  display: grid;
  color: hsl(0, 0%, 31%);
}
.delete {
  cursor: pointer;
}
.thumbnail {
  width: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.thumbnail img {
  height: 70px;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10% 0 3%;
  border-bottom: 1px solid #ccc;
}
.line {
  height: 1px;
  background-color: #ccc;
  margin: 0.5rem 0;
}
.payment {
  width: 252px;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 7px;
  height: max-content;
  padding: 1rem;
}
.payment-info {
  padding: 0 1rem;
}
.checkout {
  padding: 0 1rem;
}
.checkout button,
.order button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  background-color: hsl(240, 97%, 23%);
  color: white;
  border-radius: 7px;
  cursor: pointer;
}
.checkout button:hover,
.order button:hover {
  opacity: 0.9;
}
.cart-item div {
  display: flex;
  align-items: center;
}
.form-container {
  width: 500px;
  max-width: 90vw;
}
.form-container form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.form-container form input {
  outline: none;
  border: 1px solid #ccc;
  height: 1.7rem;
  border-radius: 5px;
}
.form-container form button {
  padding: 0.6rem 0.7rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: hsl(240, 97%, 23%);
  color: white;
  border-radius: 5px;
  width: 5rem;
  transition: 0.5s;
}
.form-container form button:hover {
  opacity: 0.9;
}
.dropdown-items {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.774);
  border-radius: 6px;
  margin-top: 0.4rem;
  cursor: default !important;
  overflow: hidden;
  padding-top: 0.5rem;
}
.dropdown-item {
  padding: 0.15rem 0.8rem 0.15rem 0.5rem;
  color: black !important;
}
.signout {
  margin-bottom: 0.5rem;
}

.dropdown-item:hover {
  background-color: rgb(133, 131, 131) !important;
}
.dropdown-title {
  display: flex;
  align-items: center;
}
.checkout-steps {
  display: flex;
}
.checkout-steps div {
  width: 25%;
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
  padding: 0 0.7rem 0.7rem 0.7rem;
}
.checkout-steps .active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
.inline {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.box {
  border: 1px solid #a0a0a0;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 7px;
}
.box div div p {
  margin: 0.3rem 0;
}
.box h3 {
  margin: 0 0 1rem 0;
}
.shippingInfo {
  margin-bottom: 1rem;
}
.preview-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 0 1rem;
}
.items-preview {
  border: 1px solid #ccc;
  border-radius: 7px;
  overflow: hidden;
  border-bottom: none;
  margin-bottom: 1rem;
}
.info {
  width: 70%;
}
.info-checkout {
  display: flex;
  gap: 1rem;
}
.order {
  height: max-content;
  width: 400px;
  max-width: 82.5vw;
}
.pricing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.7rem;
}
.dark {
  font-weight: bold;
}
.dangerBox {
  margin-top: 1rem;
  padding: 0.8rem;
  background-color: hsl(0, 61%, 76%);
  color: hsl(0, 99%, 30%);
  border-radius: 7px;
  font-weight: 600;
}
.succesBox {
  margin-top: 1rem;
  padding: 0.8rem;
  background-color: rgb(1, 27, 146);
  color: white;
  border-radius: 7px;
  font-weight: 600;
}
.table {
  width: 100%;
  text-align: left;
}
.table thead {
  box-shadow: 0 1px 0.2px 0.2px black;
}
.table tbody tr {
  box-shadow: 0 1px 0.2px 0.2px rgba(0, 0, 0, 0.26);
}
.table-button {
  padding: 0.5rem 0.6rem;
  cursor: pointer;
  margin: 0.3rem 0;
}
.hamburger {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: none;
}
.hamburger .line {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navitems-toggle {
  display: none;
}
@media (max-width: 800px) {
  .info-checkout {
    flex-direction: column;
  }
  .info {
    width: 100%;
  }
  main {
    padding: 0;
  }
  .moreinfo {
    flex-wrap: wrap;
    max-width: 100vw;
  }
  .information-action {
    width: 100%;
  }
  .moreinfo-image {
    margin: 0 auto;
  }
  .error {
    margin-top: 1rem;
  }
  .cart-items {
    width: 100%;
  }
  .cart {
    justify-content: flex-end;
  }
  .payment {
    margin-top: 2rem;
  }
  .checkout-steps {
    margin: 1rem 0;
  }
}
@media (max-width: 500px) {
  .information {
    width: 100%;
    padding: 0 1rem;
  }
  .moreinfo-price {
    display: none !important;
  }
  .action {
    box-shadow: none;
    width: 100%;
    margin-top: 0;
  }
  .description {
    border-bottom: 1px solid hsla(0, 0%, 75%, 0.664);
    padding-bottom: 1rem;
  }
  .status {
    justify-content: space-between;
  }
  .navitems {
    display: none;
  }
  .hamburger {
    display: flex;
    gap: 3px;
    flex-direction: column;
    cursor: pointer;
  }
  .hamburger .line {
    width: 0.9rem;
    height: 2px;
    background-color: grey;
  }
  .navitems-toggle {
    display: block;
    padding: 1rem;
    background-color: #020202f1;
    color: white;
  }
  .navitems-toggle div {
    padding: 0.2rem 0;
  }
  .navitems-toggle .cart-icon {
    text-decoration: none;
  }
}
